<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.raj__kukadia">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/gameicon"
        android:label="NUMAD17S-RajKukadia"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assignment5.UT3MainActivityScroggleAssignment5"
            android:theme="@style/MainActivityTheme" />

        <activity
            android:name=".assignment5.ScroggleStatusAssignment5"
            android:theme="@style/NoTitle" />

        <activity android:name=".assignment5.ScroggleAssignment5"
            android:theme="@style/NoTitle" />

        <activity android:name=".assignment5.InstructionsActivityAssignment5"
            android:theme="@style/NoTitle" />

        <activity android:name=".assignment5.ScroggleAcknowledgementAssignment5"
            android:theme="@style/NoTitle" />





        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".UT3MainActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".GameActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".DictionaryAssignment3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MainActivityTheme" />


        <activity
            android:name=".AcknowledgementAssignment3"
            android:parentActivityName=".DictionaryAssignment3"
            android:theme="@style/Theme.Transparent" />


        <service android:name=".assignment7.WordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".assignment7.WordGameInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".assignment7.FCMActivity"
            android:theme="@style/NoTitle"/>
        <activity android:name=".assignment7.GoogleSignInActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".assignment7.MultiPlayerHomePageActivity"

            android:theme="@style/MainActivityTheme"/>

        <activity android:name=".assignment7.MyFriendsActivity"

        android:theme="@style/MainActivityTheme"/>
        <activity android:name=".assignment7.OnlineOfflineActivity"

            android:theme="@style/MainActivityTheme"/>

        <activity android:name=".assignment7.ScroggleMultiplayerActivity"

            android:theme="@style/NoTitle"/>


        <activity android:name=".assignment7.WaitingForOpponentActivity"

            android:theme="@style/MainActivityTheme"/>

        <activity android:name=".assignment7.MultiplayerAcknowledgementActivity"
            android:theme="@style/NoTitle" />

        <receiver android:name=".assignment7.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity android:name=".assignment7.PreInitializingGameActivity"
            android:theme="@style/NoTitle" />



        <!--<activity android:name=".realtimedatabase.RealtimeDatabaseActivity"></activity>
        -->


    </application>

</manifest>