<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.raj__kukadia">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/gameicon"
        android:label="NUMAD17S-RajKukadia"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UT3MainActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".GameActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".DictionaryAssignment3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UT3MainActivityScroggleAssignment5"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".ScroggleAssignment5"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".AcknowledgementAssignment3"
            android:parentActivityName=".DictionaryAssignment3"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".ScroggleStatusAssignment5"
            android:parentActivityName=".ScroggleAssignment5"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".ScroggleAcknowledgementAssignment5"
            android:parentActivityName=".ScroggleAssignment5"
            android:theme="@style/NoTitle" />




    </application>

</manifest>